<div class="w-full h-screen flex items-center bg-gray-200 overflow-hidden" id="cardsWrapper">
    <div class="flex flex-nowrap min-w-screen gap-[50px] px-[50px] py-4" id="cardsContainer">
        <div
            class="card shadow-md flex justify-center items-center basis-full bg-white rounded-lg bg-white p-8 w-[400px] h-[400px]">
            <h1 class="text-4xl font-semibold">One</h1>
        </div>
        <div
            class="card shadow-md flex justify-center items-center basis-full bg-white rounded-lg bg-white p-8 w-[400px] h-[400px]">
            <h1 class="text-4xl font-semibold">Two</h1>
        </div>
        <div
            class="card shadow-md flex justify-center items-center basis-full bg-white rounded-lg bg-white p-8 w-[400px] h-[400px]">
            <h1 class="text-4xl font-semibold">Three</h1>
        </div>
        <div
            class="card shadow-md flex justify-center items-center basis-full bg-white rounded-lg bg-white p-8 w-[400px] h-[400px]">
            <h1 class="text-4xl font-semibold">Four</h1>
        </div>
        <div
            class="card shadow-md flex justify-center items-center basis-full bg-white rounded-lg bg-white p-8 w-[400px] h-[400px]">
            <h1 class="text-4xl font-semibold">Five</h1>
        </div>
        <div
            class="card shadow-md flex justify-center items-center basis-full bg-white rounded-lg bg-white p-8 w-[400px] h-[400px]">
            <h1 class="text-4xl font-semibold">Six</h1>
        </div>
        <div
            class="card shadow-md flex justify-center items-center basis-full bg-white rounded-lg bg-white p-8 w-[400px] h-[400px]">
            <h1 class="text-4xl font-semibold">Seven</h1>
        </div>
    </div>
</div>
<section class="w-full h-screen bg-gray-800 text-white px-4 py-2">
    FINAL SECTION
</section>